<html>
  <div class="row beer-header">
    <h2>
      Beers
      <img src="../assets/pint-of-beer.png" height="28" width="30" />
    </h2>
  </div>
  <body>
    <div class="gap10"></div>
    <div class="col-md-24 col-sm-24 scroll">
      <table id="beers" class="table-sticky widthMax">
        <tr>
          <th class="col-md-4 col-sm-4">
            Beers
          </th>
          <th class="col-md-2 col-sm-2">
            City
          </th>
          <th class="col-md-2 col-sm-2">
            County
          </th>
          <th class="col-md-2 col-sm-2">
            Alcohol By Volume
          </th>
          <th class="col-md-2 col-sm-2">
            International Bitterness Units
          </th>
          <th class="col-md-2 col-sm-2">
            Style
          </th>
          <th class="col-md-8 col-sm-8">
            Description
          </th>
        </tr>
        <tr *ngFor="let beer of beers">
          <td>{{ beer.name }}</td>
          <td>{{ beer.city }}</td>
          <td>{{ beer.county }}</td>
          <td>{{ beer.abv }}</td>
          <td>{{ beer.ibu }}</td>
          <td>{{ beer.style }}</td>
          <td>{{ beer.description }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
